..content-album {
    display: flex;
}

.content-album h1 {
   /* display: flex; 
   justify-content: center; */
}

.content-album img {
    width: 300px;
    /* border: solid red; */
}

.content-album p {
    font-size: 150%;
}

.content-header-album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}