body {
  background-color: black;
  color: orange;
}

.loguinHeader {
  color: orange;
  font-size: 500%;
  text-align: center;
}

.loguin-Form {
  display: flex;
  justify-content: center;
  margin: 30% 34%;
  padding: 10px;

}

.loguin-input {
  border-radius: 5px;
  height: 30px;
  text-align: center;
  width: 300px;
}

button {
  background-color: black;
  border: solid grey;
  border-radius: 10px;
  color: orange;
}
