body {
  background-color: black;
  color: orange;
  /* overflow-y: hidden; */
}

.loguinHeader {
  color: orange;
  font-size: 500%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loguin-Form {
  display: flex;
  justify-content: center;
  padding: 2rem;

}

.loguin-input {
  border-radius: 5px;
  height: 30px;
  text-align: center;
  width: 15rem;
}

button {
  background-color: black;
  border: solid grey;
  border-radius: 10px;
  color: orange;
}

.icon {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-Conteiner {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35rem;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .main-Conteiner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
  }

}
