.main-content-album {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-music {
  align-content: center;
  align-items: center;
  border: solid grey;
  border-radius: 12px;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  width: 400px;
}

.content-music label {
  border: solid white;
  margin: 4px;
}
