.content-profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.content-profile a {
  color: orangered;
}

.content-profile h1 {
  font-size: 5rem;
}

.content-profile img {
  margin-left: 39%;
  text-align: center;
  /* width: 300px; */
}
