.form-search {
  display: flex;
  justify-content: center;
  padding: 10px;

}

.imput-search {
  border-radius: 10px;
  height: 30px;
  text-align: center;
  width: 300px;
}

.naoEncontrado {
  align-self: baseline;
  display: flex;
  font-size: 50px;
  justify-content: center;
  margin-top: 10%;
  text-align: center;
}

.content-cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.cards {
  border: solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 25rem;
  margin: 1rem;
  max-width: 35%;
  /* min-width: 200px; */
  padding-bottom: 10px;
  width: 15rem;
}

.naoEncontrado img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.naoEncontrado h4 {
  display: flex;
  flex-wrap: wrap;
  font-size: 45%;
  justify-content: center;
  width: 100%;
}

.naoEncontrado a {
  color: orangered;
  display: flex;
  font-size: 30%;
  justify-content: center;
  width: 100%;
}


.result {
  display: flex;
  height: 10rem;
  justify-content: center;
  width: 100%;
}
