.content-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0% 20%;
}

.content-header a {
    /* border: solid red; */
    color: orangered;

}
